In [39]:
import pandas as pd
train= pd.read_csv("train.csv",index_col=0)
train

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [40]:
# dropping columns with null values.
train.dropna(axis=1,inplace=True)
train

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,2,2008,WD,Normal,208500
2,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,Veenker,...,0,0,0,0,0,5,2007,WD,Normal,181500
3,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,9,2008,WD,Normal,223500
4,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
5,60,RL,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,7917,Pave,Reg,Lvl,AllPub,Inside,Gtl,Gilbert,...,0,0,0,0,0,8,2007,WD,Normal,175000
1457,20,RL,13175,Pave,Reg,Lvl,AllPub,Inside,Gtl,NWAmes,...,0,0,0,0,0,2,2010,WD,Normal,210000
1458,70,RL,9042,Pave,Reg,Lvl,AllPub,Inside,Gtl,Crawfor,...,0,0,0,0,2500,5,2010,WD,Normal,266500
1459,20,RL,9717,Pave,Reg,Lvl,AllPub,Inside,Gtl,NAmes,...,112,0,0,0,0,4,2010,WD,Normal,142125
1460,20,RL,9937,Pave,Reg,Lvl,AllPub,Inside,Gtl,Edwards,...,0,0,0,0,0,6,2008,WD,Normal,147500

In [41]:
# Feature selection
train.corr()["SalePrice"].sort_values(ascending=False).head(5)

SalePrice      1.000000
OverallQual    0.790982
GrLivArea      0.708624
GarageCars     0.640409
GarageArea     0.623431
Name: SalePrice, dtype: float64

In [42]:
# Based on the correlation results we select the top two features.
X_train=train[["OverallQual","GrLivArea"]]
X_train

      OverallQual  GrLivArea
Id
1               7       1710
2               6       1262
3               7       1786
4               7       1717
5               8       2198
...           ...        ...
1456            6       1647
1457            6       2073
1458            7       2340
1459            5       1078
1460            5       1256

[1460 rows x 2 columns]

In [43]:
# Target Feature
y_train=train["SalePrice"]
y_train

Id
1       208500
2       181500
3       223500
4       140000
5       250000
         ...
1456    175000
1457    210000
1458    266500
1459    142125
1460    147500
Name: SalePrice, Length: 1460, dtype: int64

In [44]:
# One hot encoding for the Train features
from sklearn.preprocessing import OneHotEncoder

In [45]:
ohe = OneHotEncoder(drop='first', sparse=False)
category_feature = ["OverallQual"]
X_train_category = X_train.loc[:, category_feature]
X_train_ohe = pd.DataFrame(ohe.fit_transform(X_train_category),
                           index=X_train.index)
X_train_ohe.head()

      0    1    2    3    4    5    6    7    8
Id
1   0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
2   0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
3   0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
4   0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
5   0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0

In [46]:
# X_train with OverallQual dropped and concat with ohe
X_train=X_train.drop(columns=category_feature)
X_train_tr=pd.concat([X_train,X_train_ohe],axis=1)
X_train_tr.head()

    GrLivArea    0    1    2    3    4    5    6    7    8
Id
1        1710  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
2        1262  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
3        1786  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
4        1717  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
5        2198  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0

In [47]:
# Import test dataset.

test= pd.read_csv("test.csv",index_col=0)
test

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
Id,,,,,,,,,,,,,,,,,,,,,
1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,Inside,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [48]:
# dropping columns with null values.
test.dropna(axis=1,inplace=True)
test

,MSSubClass,LotArea,Street,LotShape,LandContour,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleCondition
Id,,,,,,,,,,,,,,,,,,,,,
1461,20,11622,Pave,Reg,Lvl,Inside,Gtl,NAmes,Feedr,Norm,...,140,0,0,0,120,0,0,6,2010,Normal
1462,20,14267,Pave,IR1,Lvl,Corner,Gtl,NAmes,Norm,Norm,...,393,36,0,0,0,0,12500,6,2010,Normal
1463,60,13830,Pave,IR1,Lvl,Inside,Gtl,Gilbert,Norm,Norm,...,212,34,0,0,0,0,0,3,2010,Normal
1464,60,9978,Pave,IR1,Lvl,Inside,Gtl,Gilbert,Norm,Norm,...,360,36,0,0,0,0,0,6,2010,Normal
1465,120,5005,Pave,IR1,HLS,Inside,Gtl,StoneBr,Norm,Norm,...,0,82,0,0,144,0,0,1,2010,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2915,160,1936,Pave,Reg,Lvl,Inside,Gtl,MeadowV,Norm,Norm,...,0,0,0,0,0,0,0,6,2006,Normal
2916,160,1894,Pave,Reg,Lvl,Inside,Gtl,MeadowV,Norm,Norm,...,0,24,0,0,0,0,0,4,2006,Abnorml
2917,20,20000,Pave,Reg,Lvl,Inside,Gtl,Mitchel,Norm,Norm,...,474,0,0,0,0,0,0,9,2006,Abnorml
2918,85,10441,Pave,Reg,Lvl,Inside,Gtl,Mitchel,Norm,Norm,...,80,32,0,0,0,0,700,7,2006,Normal
2919,60,9627,Pave,Reg,Lvl,Inside,Mod,Mitchel,Norm,Norm,...,190,48,0,0,0,0,0,11,2006,Normal

In [49]:
# Based on the correlation results under train we select the top two features.
X_test=test[["OverallQual","GrLivArea"]]
X_test

      OverallQual  GrLivArea
Id
1461            5        896
1462            6       1329
1463            5       1629
1464            6       1604
1465            8       1280
...           ...        ...
2915            4       1092
2916            4       1092
2917            5       1224
2918            5        970
2919            7       2000

[1459 rows x 2 columns]

In [52]:
# One hot encoder for test features
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(drop='first', sparse=False)
category_feature = ["OverallQual"]
X_test_category = X_test.loc[:, category_feature]
X_test_ohe = pd.DataFrame(ohe.fit_transform(X_test[category_feature]),
                           index=X_test.index)
X_test_ohe.head()

        0    1    2    3    4    5    6    7    8
Id
1461  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
1462  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1463  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
1464  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1465  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0

In [53]:
# X_test with OverallQual dropped and concat with ohe test
X_test=X_test.drop(columns=category_feature)
X_test_tr=pd.concat([X_test,X_test_ohe],axis=1)
X_test_tr.head()

      GrLivArea    0    1    2    3    4    5    6    7    8
Id
1461        896  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
1462       1329  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1463       1629  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
1464       1604  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1465       1280  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0

In [54]:
# convert feature names to strings so there is not a TypeError with sklearn

X_train_tr.columns = X_train_tr.columns.astype(str)
X_test_tr.columns = X_test_tr.columns.astype(str)

In [55]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(X_train_tr, y_train)

LinearRegression()

In [56]:
y_hat_train = linreg.predict(X_train_tr)
y_hat_test = linreg.predict(X_test_tr)

In [57]:
from sklearn.metrics import mean_squared_error
train_mse = mean_squared_error(y_train, y_hat_train)
train_mse

1515509915.3077211

In [66]:
test_output= pd.DataFrame(y_hat_test)
test_output

                  0
0     114862.749047
1     154403.117758
2     153420.301087
3     168868.775072
4     239617.491154
...             ...
1454  107648.851136
1455  107648.851136
1456  132116.333043
1457  118755.325924
1458  223295.470289

[1459 rows x 1 columns]